body {
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
}

.int {
   color: orange;
}

.float {
   color: green;
}

.identifier {
   color: white;
   font-weight: lighter;
}

.operator {
   color: palegoldenrod;
}

.reserved {
   color: skyblue;
   font-weight: bold;
}

.comment {
   color: grey;
}

.error {
   color: red;
}